.engineering-category-management{
    // padding: 20px;
    // min-width: 1000px;
    .statistical_btn1{
        text-align: right;
    }
    .pageStyle{
        margin-top: 20px;
        text-align: right;
    }
}