.lookProgress{
    // padding: 20px;
    // min-width: 1000px;
    .lookProgress_row{
        margin-top: 20px;
    }
    .lookProgress_btn1{
        text-align: right;
    }
    .pageStyle{
        margin-top: 20px;
        text-align: right;
    }
    .dataStyle{
        width: 44%;
        display: inline-block !important;
     .dataInput1{
         margin-right:4px; 
     }
    }
    .clickBtn {
        text-align: center;
    }

}
