.home {
  height: 100%;
  .asideList{
    background: #EAEDF1;
  }
  // .treeList:hover{
  //   background: white !important;
  // }
  // .el-tree-node__content:hover{
  //   background: white !important;
  // }
  .treeList {
    background: #EAEDF1;
    .el-tree-node__content:hover {
      background: white !important;
    }

    .el-tree-node:focus>.el-tree-node__content {
      background: white;
      // color: #409EFF;
    }
    .el-tree-node__content{
      padding-left: 20px !important;
    }
    .el-tree-node__label{
      font-size: 12px;
    }
    .el-tree-node__children .el-tree-node__content{
      padding-left: 30px !important;
      color: #666;
    }
  }
  .titleSpan{
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight: 700;font-style: normal;
    color: #333;
    font-size:18px;
    padding:20px;
    background: #D9DEE4;
  }
  .elContent{
    padding:20px;
    width:100%;
  }
  .el-tree-node__expand-icon{
    color: #333;
  }
  .el-tree-node__expand-icon.is-leaf{
    color: transparent;
  }
  .el-tree-node__content{
    color: #333;
    height: 36px !important;
  }
  .el-tree{
    background: #EAEDF1;
  }
  
}
.breadTitle{
  margin-bottom: 20px;
}
