.mainMenu{
  height: 100%;
  width:100%;
  padding:0;
  margin:0;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display:flex;
  justify-content: space-between;
  .header{
    position: fixed;
    height:50px;
    width:100%;
    color:#fff;
    cursor: pointer;
    background-color:#252a2f;
    z-index: 5;
    .log{
      height:100%;
      width:auto;
      display: block;
      float:left;
      text-align: center;
      font-size: 18px;
      line-height:50px;
      padding-left:50px;
    } 
    .changeRole{
      height:100%;
      width:auto;
      display: flex;
      justify-content: space-between;
      float:left;
      line-height:50px;
      margin-left:100px;
      .roletext{
        line-height:50px;
        height:100%;
        color:#666;
      }
      #changeorg{
        .el-cascader{
          min-width:70px;
          height:33px;
          input.el-input__inner{
            border:none !important;
            background-color:transparent !important;
            text-align: center;
          }
          .el-cascader__label{
            text-align: left;
            color:#fff;
            padding-left:0;
          }
        }
      }  
    }
    .logout{
      height:100%;
      width:100px;
      line-height:50px;
      text-align: center;
      float:right;
    }
    .logout:hover{
      background-color:#c33;
    }
    .scaleBtn{
      width:50px;
      height:100%;
      float:right;
      text-align: center;
      line-height:50px;
    }
  }
  .content{
    width:100%;
    height:100%;
    padding-left: 51px;
    position: relative;
    box-sizing: border-box;
    transition: width 300ms 100ms;
    -moz-transition:width 300ms 100ms; /* Firefox 4 */
    -webkit-transition:width 300ms 100ms; /* Safari and Chrome */
    -o-transition:width 300ms 100ms; /* Opera */
    padding-top:50px;
    .right_content{
      height:100%;
      width:100%;
      overflow: hidden;
    }
    
  }
  .all_menu_container.active{
    left:230px;
  }
  .all_menu_container{
    height:calc(100% - 50px);
    -width:calc(100% - 230px);
    width:800px;
    position: absolute;
    top:50px;
    left:-100%;
    z-index:4;
    overflow: hidden;
    background-color:transparent;
    transition: all 500ms 100ms;
    -moz-transition:all 500ms 100ms; /* Firefox 4 */
    -webkit-transition:all 500ms 100ms; /* Safari and Chrome */
    -o-transition:all 500ms 100ms; /* Opera */
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    .content_inner{
      height:100%;
      width:800px;
      position: absolute;
      left:0;
      top:0;
      bottom:0;
      box-sizing: border-box;
      padding:20px;
      
      background-color:#fff;
      display: flex;
      justify-content: space-between;
     
      .left_inner{
        width:calc(100% - 160px);
        height:100%;
        overflow: hidden;
        .top_search{
          width:100%;
          height:50px;
        }
        .menu_content{
          width:calc(100% + 25px);
          height:calc(100% - 50px);
          overflow-x:hidden; 
          padding: 10px 20px 20px 20px;
          font-size:12px;
          .menu_card_recent{
            width:100%;
            height:auto;
            overflow: auto;
            text-align: left;
            box-sizing: border-box;
            margin-bottom:15px;
            .menu_head{
              color:#000;
              font-weight:600;
              height:35px;
              padding:0 10px;
              line-height:35px;
            }
            .childen_menu{
              width:100%;
              overflow: auto;
              box-sizing: border-box;
              .child_menu{
                width:185px;
                height:30px;
                color:#595959;
                line-height:30px;
                padding:0 10px;
                float:left;
                cursor: pointer;
                box-sizing: border-box;
              }
              .child_menu:hover{
                background-color:rgba(0,0,0,.06);
              }
            }
           
          }
        }
      }
      .right_inner{
        width:160px;
        height:100%;
        overflow: hidden;
        .icon_close{
          height:40px;
          text-align: right;
          margin-bottom:50px;
          .iconfont{
            cursor: pointer;
          }
          .iconfont:hover{
            color:#249fe3;
          }
        }
        .tabs_container{
          width:100%;
          height:calc(100% - 90px);
          padding:5px;
          overflow: hidden;
          font-size:12px;
          .tabs_all{
            width:calc(100% + 25px);
            max-height:100%;
            overflow-x: hidden;
            
            .tabs_list{
              text-decoration: none;
              line-height: 32px;
              height: 32px;
              display:block;
              padding-left: 10px;
              white-space: nowrap;
              overflow: hidden;
              max-width: 160px;
              text-overflow: ellipsis;
              color:#595959;
              border-left:2px solid rgba(0,0,0,.1);
            }
            a:hover{
              color: #338fe5;
              font-weight:bolder;
              border-left:2px solid #338fe5;
            }
            a:visited {
              color: #338fe5;
            }
          }
        }
      }
    }
  }
  .left_menu{
    position: fixed;
    width:50px;
    height:100%;
    color:#fff;
    background-color:#252a2f;
    border-right:1px solid hsla(0,0%,100%,.1);
    z-index:5;
    margin-top:50px;
    cursor: pointer;
    transition: width 300ms 100ms;
    -moz-transition:width 300ms 100ms; /* Firefox 4 */
    -webkit-transition:width 300ms 100ms; /* Safari and Chrome */
    -o-transition:width 300ms 100ms; /* Opera */
    .left_inner_menu{
      width:100%;
      height:100%;
      overflow: hidden;
      transition: width 300ms 100ms;
      -moz-transition:width 300ms 100ms; /* Firefox 4 */
      -webkit-transition:width 300ms 100ms; /* Safari and Chrome */
      -o-transition:width 300ms 100ms; /* Opera */
    }
    .left_show_menu{
      width:250px;
      height:100%;
      overflow-x: hidden;
      box-sizing: border-box;
      padding-right:20px;
      background-color:#252a2f;
      .menu_logo{
        height:50px;
        width:100%;
        text-align: center;
      }
      .p_menu{
        height:40px;
        width:230px;
        border-top:1px solid hsla(0,0%,100%,.1);
        border-bottom:1px solid hsla(0,0%,100%,.1);
        display: flex;
        justify-content: space-between;
        line-height:40px;
        .pre_icon{
          width:50px;
          text-align: center;
          height:100%;
        }
        .menu_text{
          width:calc(100% - left_menu0px);
        }
        .after_icon{
          width:60px;
          height:100%;
          text-align: center;
        }
      }
      .n_menu_container{
        height:calc(100% - 92px);
        width:250px;
        overflow-y:auto;
        overflow-x:hidden;
        .n_menu{
          height:40px;
          width:100%;
          display: flex;
          justify-content: space-between;
          line-height:40px;
          .pre_icon{
            width:50px;
            text-align: center;
            height:100%;
          }
          .menu_text{
            width: 180px;
          }
          .after_icon{
            width:60px;
            height:100%;
            text-align: center;
            .close_icon{
              display: none;
            }
           
          }

        }
        .n_menu:hover .after_icon .close_icon{
          display:block;
        }
      }
      
      
    }
   
  }
  .left_menu.active,
  .left_menu:hover,
  .left_menu:hover .left_inner_menu{
    width:200px;
  }
}
