.taskWarning{
    // padding: 20px;
    // min-width: 1000px;
    .taskWarning_row{
        margin-top: 20px;
    }
    .taskWarning_btn1{
        text-align: right;
    }
    .pageStyle{
        margin-top: 20px;
        text-align: right;
    }
    .dataStyle{
     .el-date-editor{
         display: inline-block;
     }
     .dataInput1{
         margin-right:4px; 
     }
    }
    .clickBtn {
        text-align: center;
    }
}