.el-table th.is-leaf{
    padding: 6px 0 !important;
}
.el-table td, .el-table th{
    padding: 10px 0 !important;
}
.el-table th>.cell{
    font-size: 12px;
}
.el-table .cell{
    font-size: 12px;
}
.lookProgress{
    .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before{
        margin-right: 9px !important;
    }
}
.openVideo{
    .el-dialog--center .el-dialog__body{
        padding: 0px !important;
    }
 }
 .changeorg{
     width: 400px;
     display: inline-block;
     line-height: 50px;
    .el-cascader{
      min-width:70px;
      height:33px;
      input.el-input__inner{
        border:none !important;
        background-color:transparent !important;
        text-align: center;
        color:#fff;
      }
      input::-webkit-input-placeholder{
        color:#fff;
        }
      .el-cascader__label{
        text-align: left;
        color:#fff;
        padding-left:0;
      }
    }
  } 