.planhomePage{
    height:calc(100% - 20px);
    .elStyle{
        // padding: 0px 20px 20px 20px;
        height: 100%;
        border-right: 1px solid #e4e7ed;
    }
    .blackOne{
            display: block;
            padding: 10px 20px;
            border-top: 1px solid #e4e7ed;
    .oneFirst{
        margin-bottom: 10px;
    }
    }
    .rightTag{
        text-align: right;
    }
    .blackOne:hover{
        cursor: pointer;
    }
    .blackOne:focus{
        outline:none;
        background: rgba(16, 142, 233,0.08);
    }
    .rowOne{
        border:1px solid #e4e7ed;
        height:calc(100% - 13px);
    }
    .despSpan{
        padding: 0 20px;
        margin: 10px 0 20px 0px;
        font-size: 16px;
    }
    .despInfon{
        margin-bottom: 20px;
        padding: 0 20px;
        .el-col{
            border-radius: 20px;
            padding: 5px;
            text-align: center;
        }
        .el-col:hover{
            cursor: pointer;
            background: rgba(16, 142, 233,0.08);
        }
    }
    .desp_look{
        color:#999999;
    }
    .firstTab div{
        margin: 10px 0;
     }
     .rightSpan{
         margin-left: 20px;
     }
     .rightNumber{
         float: right;
         color: #13CE66;
         font-weight: 700;
         font-style: normal;
         font-size: 16px;
     }
     .rightEL{
        padding:0px 20px 20px 20px;
        height: 100%;
        .rightElSpan{
            margin: 10px 0;
        }
     }
     .iconStyle{
        font-size: 20px;
        font-weight:700;
     }
     .despImage{
        width:30px;
        height:30px;
        display:inline-block;
        vertical-align: top;
     }
     .secondtTab{
         .el-row{
             margin: 20px 10px;
         }
     }
     .taskList{
        border-bottom:1px solid #e4e7ed;
        padding: 10px 10px 30px 10px;
        margin-bottom:30px;
     }
     .sortTab{
        padding:10px;
        border-bottom:1px solid #e4e7ed;
        span{
            margin: 5px;
            line-height: 31px;
            cursor: pointer;
        }
        span:hover{
            color: #338fe5;
        }
     }
     .sortTabs{
        padding: 15px 20px 20px 10px;
        height: 49px;
        border-bottom:1px solid #e4e7ed;
     }
     .despSpans{
        padding: 0 20px;
     }
     .elDesp{
        border-right:1px solid #e4e7ed;
        height:100%;
     }
     .clickBtn{
         margin-top: 20px;
         text-align: center;
     }
     .stateList{
         border-bottom: 1px solid #e4e7ed;
         padding:10px 20px;
         cursor: pointer;
     }
     .stateList:focus{
        outline: none;
     }
     .stateList:focus>span{
        color: #338fe5;
     }
     .iconStyles{
         float: right;
         font-weight: bold;
         font-size: 20px;
     }
     .showTrueStyle{
         text-align: right;
         span{
             cursor: pointer;
             margin: 0 10px;
         }
         span:hover{
            color: #338fe5;
         }
     }
     .el-tooltip__popper.is-dark{
         opacity: 0.8;
     }
     .openIcon{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
     }
     .diaryTitle{
         position: relative;
         padding-right:62px;
     }
    .lookTime{
        position:absolute;
        bottom:0;
        right: 0;
    }
    .listPlan{
        padding: 10px;
        // text-align: center;
        height:calc(100% - 78px) ;
       
    }
    .listPlan div{
        line-height: 35px;
        border-bottom: 1px solid #e4e7ed;
    }
    .Workproress{
        width: 100%;
    }
    .Workproress span{      
        display: inline-block;
    }
    .middleAdd .el-button{
        line-height:31px;
    }
    .middleList{
        padding: 10px;
        .blockList{
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #e4e7ed;
            img{
                width: 100%;
                height: 150px;
            }
        }
    }
    .blockList_title{
        line-height: 30px;
    }
    .tableDiv {
        padding: 10px 0;
        .tableTitle{
            margin-bottom: 12px;
        }
        .el-table th.is-leaf {
          padding: 6px 0 !important;
        }
        span{
            line-height: 40px;
        }
      }
}